<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>IM</title>
    <link rel="stylesheet" type="text/css" href="/src/css/base.css">
    <link rel="stylesheet" type="text/css" href="/src/css/index.css">
</head>
<body>
    <div class="g-con" id="app">
    </div>

    <script type="text/javascript" src="/src/javascript/base/Web_SDK_Base_v2.1.0.js"></script>
    <script type="text/javascript" src="/src/javascript/base/Web_SDK_NIM_v2.1.0.js"></script>
    <script type="text/javascript" src="/nej/src/define.js?pro=/src/javascript/&module=/src/html/&npm=/node_modules/"></script>
    <script type="text/javascript" src="/src/javascript/app.js"></script>
</body>
</html>